# .gitignore

# python virtual environment
.venv/

# environment variables file
.env

# pycache
__pycache__/
*.pyc

# OS / editor
.DS_Store
.idea/
.vscode/
.junie/
assets/
logs/

# build artifacts
packaging/dist/
packaging/build/
dist/
build/
*.egg-info/

# local data and outputs
models/
outputs/
*.log

# misc
*.commands.txt
packaging/.DS_Store
